*{
  font-family: Arial, Helvetica, sans-serif;
}
body{
  margin: 0;
  padding: 0; 
  background-color:#cebfbf
}
header{
  display: flex;
  color: #000000;
  border-bottom: 1px solid #fff;
  justify-content: center;
  align-items: center;
}
img{
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 25px;
}
section{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.container{
  width: 900px;
  display: flex;
  flex-direction: column;
}
.first-content{
  width: 485px;
  height: auto;
  border: 0.8px solid #fff;
  border-radius: 10px;
  display: flex;
  margin: auto;
  color: #fff;
}
.content img{
  margin: 2px;
  border-radius: 15px;
  padding-bottom: 5px;

}
.legend-img{
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}
.content{
  color: #000000;
}
.content p,
.content li{
  font-size: 16px;
  text-align: justify;
}
.content h3{
  font-size: 17px;
}
.content h2{
  text-align: center;
  font-size: 35,5px;
}
footer{
  display: flex;
  border: 1px solid #fff;
  justify-content: center;
  margin-top: 20px;
}
.rodape{
  display: flex;
  margin: auto;
  text-align: center;
  font-size: 12px;
}
.rodape a{
  text-decoration: none;
  padding-left: 2px;
  font-weight: bold;
}